source "https://rubygems.org"

# gem "lono", "~> <%= Lono::VERSION %>"

gem "lono", git: "https://github.com/boltops-tools/lono", branch: "master"
gem "rspec-lono", git: "https://github.com/boltops-tools/rspec-lono", branch: "master"
